<form class="regular">
    <label class="regular" for="serviceName">Service name</label>
    <input class="regular" id="serviceName" type="text" ng-model="service.serviceName" value="{{ service.serviceName }}" required />

    <label class="regular" for="host">Host</label>
    <input class="regular" id="host" type="text" ng-model="service.host" value="{{ service.host }}" required />

    <label class="regular" for="port">Port</label>
    <input class="regular" id="port" type="text" ng-model="service.port" value="{{ service.port }}" required />

    <label class="regular" for="protocol">Protocol</label>
    <input class="regular" id="protocol" type="text" ng-model="service.protocol" value="{{ service.protocol }}" required />

    <label class="regular" for="prefix">Prefix</label>
    <input class="regular" id="prefix" type="text" ng-model="service.prefix" value="{{ service.prefix }}" required />

    <input class="regular" type="submit" value="Edit" ng-click="editMicroservice()" required />
</form>

<input class="regular" type="submit" value="Delete" ng-click="deleteMicroservice()" required />
