<section class="partial">

    <div class="title">
        Registered microservices
    </div>

    <div class="container">

        <div class="horizontal-div">

            <table>
                <thead>
                    <tr>
                        <th>Service name</th>
                        <th>Host</th>
                        <th>Port</th>
                        <th>Protocol</th>
                        <th>Prefix</th>
                    </tr>
                </thead>

                <tbody>
                <tr ng-repeat="service in servicesList">
                    <td>
                        <a href="#/directory/microservices/{{ service.serviceName }}">{{ service.serviceName }}</a>
                    </td>

                    <td>
                        <a href="#/directory/microservices/{{ service.serviceName }}">{{ service.host }}</a>
                    </td>

                    <td>
                        <a href="#/directory/microservices/{{ service.serviceName }}">{{ service.port }}</a>
                    </td>

                    <td>
                        <a href="#/directory/microservices/{{ service.serviceName }}">{{ service.protocol }}</a>
                    </td>

                    <td>
                        <a href="#/directory/microservices/{{ service.serviceName }}">{{ service.prefix }}</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="horizontal-div">

            <form class="regular" name="createForm" novalidate>

                <!-- Check the ng-disabled and ng-show directive, validate the whole service in the controller -->

                <label class="regular" for="serviceName">Service name</label>
                <input class="regular" id="serviceName" type="text" ng-model="service.serviceName" 
                    ng-change="verifyServiceFields2()" value="{{ service.serviceName }}" required />

                <label class="regular" for="host">Host</label>
                <input class="regular" id="host" type="text" ng-model="service.host" ng-change="verifyServiceFields2()"
                    value="{{ service.host }}" required />

                <label class="regular" for="port">Port</label>
                <input class="regular" id="port" type="text" ng-model="service.port" ng-change="verifyServiceFields2()"
                    value="{{ service.port }}" required />

                <label class="regular" for="protocol">Protocol</label>
                <input class="regular" id="protocol" type="text" ng-model="service.protocol" ng-change="verifyServiceFields2()"
                    value="{{ service.protocol }}" required />

                <label class="regular" for="prefix">Prefix</label>
                <input class="regular" id="prefix" type="text" ng-model="service.prefix" ng-change="verifyServiceFields2()"
                    value="{{ service.prefix }}" required />

                <input class="regular" type="submit" value="Create" ng-disabled="{{ validator.isNotAValidService }}"
                    ng-click="createMicroservice()" />
            </form>

            <p ng-show="{{ validator.isNotAValidService }}">{{ validator.errorMessage }}</p>

        </div>

    </div>

</section>
